@import "_resetStyle";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    background-color: #000000;
    display: flex;
}
.header__logo{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    margin: 56px 0 0 13%;
    
}
nav{
    margin: 60px 0 0 29%;
}
.topnav a{
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-right: 16px;
    padding-bottom: 12px;
}
.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}
.topnav .icon{
    display: none;
}


main{
    
    
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main__welcome{
    padding: 200px 0 400px 0;
    background-color: #000000;
    text-align: center;
}

.main__welcome h1{
    
    font-size: 44px;
    font-weight: 300;
    color: #999999;
    text-transform: uppercase;
}
.main__welcome .mycompany{
    color: #fcac45;
    font-weight: 700;
}
.main__welcome p{
    
    font-size: 24px;
    color: #c3c3c3;
}
.main__welcome .p-bold-white{
    font-weight: 700;
    color: #ffffff;
}

.wraper {
    width: 76%;
    margin: 0 auto;
}
main .main__about{
    display: flex;
    padding: 100px 0px;
}
.about__right{
    margin-left: 10%;
}
.about__right h2{
    display: inline-block;
    color: #222222;
    font-size: 34px;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 4px solid #fcac45;
    
}
.about__h2-span{
    font-weight: 700;
}
.about__right p{
    font-size: 18px;
    color: #6c6c6c;
    margin: 30px 0 50px 0;
    
}
.about__right ul{
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    color: #5a5a5a;
}
.about__right li{
    padding-left: 26px;
    margin-bottom: 16px;
    background: url(../img/li_icon.png) left no-repeat;
}
.about__ul-span{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.mv-100{
    min-width: 100%;
}

.our-team {
    background-color: #070707;

    &__title {
        margin-top: 100px;
        color: #ffffff;
    }

    &__flex-container {
        display: flex;
        margin: 100px 0 150px 0;
    }

    &__card {
        margin-right: 44px;
        
    }
    &__card:last-child {
        margin-right: 0;
        
    }
}

.title {
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.title::after {
    content: "";
    display: block;
    background-color: #fcac45;
    width: 100px;
    height: 4px;
    margin: 30px auto 0 auto;
}
.card {
    text-align: center;
    color: #f9f9f9;
    width: 250px;
    &__photo {
        margin: 0 auto;
        background-color: #d7d7d7;
        
    }
    

    &__name {
        margin-top: 22px;
        font-size: 20px;
        font-weight: 700;
    }

    &__position {
        color: #cdcdcd;
        margin-top: 16px;
        font-size: 16px;
    }

    &__comment {
        color: #cdcdcd;
        margin-top: 30px;
        font-size: 14px;
        line-height: 24px;
    }
}
.circle-img{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;

}

.services__title{
    margin-top: 100px;
    color: #222222;
}
.services__subtitle{
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
    color: #6c6c6c;
    text-align: center;
    font-style: italic;
}


.services__cards{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    margin: 100px 0;
}
.services__card .circle-img{
    border: 4px solid #fcac45;
}
.services__card h4{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    color: #222222;
    text-transform: uppercase;
}
.services__card p{
    margin-top: 20px;
    color: #595959;
    font-size: 14px;
}
.main__clients{
    background-color: #0b0b0b;
}
.clients {


    &__title {
        margin-top: 100px;
        color: #ffffff;
    }
    &__title span{
        font-weight: 300;
    }

    &__flex-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 100px 18% 200px;
    }

    &__item {
        margin-right: 30px;
        
    }
    &__item img{
        max-width: 100%;
    }
    &__item:last-child {
        margin-right: 0px;
    }
}
.main__testimonials{
    background-color: #0b0b0b;
    color: #e7e7e7;
    text-align: center;
    padding: 0 18%;
}
.testimonials__title{
    margin-top: 100px;
    color: #ffffff;
}
.testimonials__title span{
    font-weight: 300;
}
.testimonials__text{
    margin-top: 100px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}
.testimonials__quote{
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 170px 0;
    color: #b2b2b2;
}
.testimonials__quote span{
    font-weight: 300;
    color: #a2a2a2;
}

.wraper {
    max-width: 1140px;
    margin: 0 auto;
}

.main__work{
    text-align: center;
}
.work {

    &__title {
        color: #222222;
        margin-top: 100px;
    }
    &__title span{
        font-weight: 300;
    }

    &__subtitle {
        margin-top: 60px;
        font-size: 16px;
        line-height: 24px;
        font-style: italic;
        color: #6c6c6c;
    }

    &__gallery {
        margin: 180px 0 70px 0;

    }
}
.work__gallery img{
    margin: 0 30px 30px 0;
    max-width: 21%;
}
.work__gallery img:last-child{
    margin-right: 0;
}
.work__gallery img:hover {
    opacity: 0.95;
    box-shadow:  3px 3px 5px  #483949f6;
}

.main__contact-form{
      
}
.contact__title{
    margin-top: 100px;
}
.contact__subtitle{
    text-align: center;
    font-style: italic;
    color: #808080;
    font-size: 16px;
    line-height: 24px;
}
.contact__wrapper{
    max-width: 750px;
    margin: 0 auto;
}
.contact__wrapper p{
    color: #636363;  
}
.form__inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.form__inputs input{
    margin-top: 10px;
    display: block;
    width: 360px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
    border: 1px solid #999999;
}
.red{
    color: red;
}
textarea{
    resize: none;
    margin-top: 10px;
    width: 100%;
    height: 160px;
    border: 1px solid #999999;
}

.button__block{
    float: right;
}
input[type=submit]{
    margin: 30px 0 100px 0;
    width: 160px;
    height: 40px;
    background-color: #fcac45;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
footer{
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
    background-color: #222222;
    text-align: center;
    
}
.social{
    display: flex;
    justify-content: center;
}
.social img{
    margin-right: 14px;
}
.social img:hover{
    opacity: 0.7;
}
.social img:last-child{
    margin-right: 0;
}



























































































//Адаптив
@media screen and (max-width: 1180px){
    nav{
        margin-left: 18%;
    }
    

        
}

@media screen and (max-width: 1010px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        display: block;
        float: right;
        font-size: 25px;
        margin-top: -17px;
        color: #ffffff;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
        width: 120px;
        
    }
    header .topnav.responsive{
         height: 340px;
    }
    .topnav.responsive a.icon{
        position: fixed;
        top: 70px;
        right: 10px;
    }
    .topnav.responsive a{
        
        float: none;
        display: block;
        text-align: left;
    }
    main .main__welcome{
        padding: 50px 0 50px 0;
    }
    .main__welcome p{
        font-size: 14px;
    }
    .main__welcome h1{
        font-size: 24px;
    }
    .main__about{
        flex-direction: column;
    }
    .about__right{
        margin: 20px 0 0 0;
        text-align: center;
    }
    .about__right h2{
        padding-bottom: 10px;
        font-size: 30px;
    }
    .about__right p{
        margin: 20px 0 30px 0;
        font-size: 14px;
    }
    .about__right ul{
        font-size: 14px;
        text-align: left;
    }
    .about__right li{
        padding-left: 22px;
        margin-bottom: 10px;
        background: url(../img/li_icon.png) left no-repeat;
    }
    .about__ul-span{
        font-size: 16px;
    }
    .mv-100{
        max-width: 100%;
    }
    .our-team__flex-container {
        flex-direction: column;
        align-items: center;
    }
    .our-team__card{
        margin: 0 0 30px 0;
    }
    .services__cards{
        grid-template-columns: auto;
    }
    .services__card{
        margin-bottom: 25px;
    }

    .clients__flex-container{
        flex-direction: column;
        align-items: center;
        
    }
    .clients__item{
        margin: 0 0 30px 0;
    }
    .title{
        font-size: 26px;
    }

.work__title{
    margin-top: 60px;
}
.work__subtitle{
    margin-top: 40px;
    font-size: 14px;
}
.work__gallery{
    margin: 60px 0px;
}
.work__gallery img{
    max-width: 100%;
    margin: 0 0 10px;
}
.work__gallery img:not(:first-child){
    display: none;
}
.form__inputs{
    flex-direction: column;
    align-items: center;
}
 .p-textarea{
    display: block;
    margin: 0 auto;
    width: 360px;
}
.button__block{
    float: none;
    width: 360px;
    margin: 0 auto;
}
input[type=submit]{
    width: 360px;
}
}
//Конец адаптива